/* body {
    background-color: rgb(61, 148, 73);
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
} */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "a status c"
    "d dlrHand f"
    "g dlrHand i"
    "stay bet hit2"
    "m plyrHand o"
    "p plyrHand r"
    "s t u"
    "v w x"
    "y z ."
    ". . ."
    ;
      /* "side dlrScore side"
      "side dlrHand side"
      "side dlrHand side"
      "stay bet hit"
      "side plyrHand side"
      "side plyrHand side"
      "side plyrScore side"
      "side bankTotal side"
      "bank bank bank"
      "footer footer footer"; */
    background-color: rgb(61, 148, 73);
    box-sizing: border-box;
    /* height: 100vh; */
}


div, footer, input {
    margin: 2vmin;
}

.card {
    display: inline-block;
}

#opening-img {
    width: 50vmin;
    height: auto;
    margin: 1vmin;
}

.cardImg {
    width: 15vmin;
    height: auto;

    /* left: -500px; */
    /* transition: all .3s ease; */

    /* left: 50%;
        transform: translateX(-50%) */
}

.game-status {
    grid-area: status;
}

.dealer-hand {
    grid-area: dlrHand;
    background-color: rgb(61, 148, 73);
}

#stay {
    grid-area: stay;
    background-color: orangered;
    display: block;
}

#bet {
    grid-area: bet;
}

#hit2 {
    grid-area: hit2;
}

#player-hand {
    grid-area: plyrHand;
    background-color: rgb(61, 148, 73);
}

#score {
    grid-area: plyrScore;
}

#bankTotal {
    grid-area: bankTotal;
}

#bank {
    grid-area: bank;
}

footer {
    grid-area: ftr;
}

#play {
    background-color: orangered;
    display: block;
}



#control-panel {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.controlBtn {
    display: inline-block;
    background-color: lightyellow;
    border: 1.2vmin solid rgb(56, 47, 44);
    border-radius: 15%;
    width: 15vmin;
    padding: 1.5vmin;
}



