body {
    background-color: rgb(61, 148, 73);
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;

}



div, footer, input {
    margin: 2vmin;
}

.card {
    display: inline-block;
}

#opening-img {
    width: 50vmin;
    height: auto;
    margin: 1vmin;
}

.cardImg {
    width: 15vmin;
    height: auto;
    margin: 2vmin;
}

#dealer-hand {
    background-color: rgb(61, 148, 73);
    /* margin-top: 5vmin; */
}

#player-hand {
    background-color: rgb(168, 167, 167)
}

#control-panel {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.controlBtn {
    display: inline-block;
    background-color: lightyellow;
    border: 1.2vmin solid rgb(56, 47, 44);
    border-radius: 15%;
    width: 15vmin;
    padding: 1.5vmin;
}

#play {
    background-color: orangered;
    display: block;
}

