body {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;

}

div, footer, input {
    margin: 5vmin;
}

.card {
    display: inline-block;
}

.cardImg {
    width: 20vmin;
    height: auto;
    margin: 3vmin;
}

#dealer-hand {
    background-color: green;
}

#player-hand {
    background-color: yellow;
}
